@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", sans-serif; 
}
html{
    background-color: gray;
    text-shadow: 2px 1px  white;
    font-size: 20px;
    font-weight: 70px;
    
}
.heading{
    font-size: 20px;
}
.back-body{
    background-color: aqua;
    background-image: url(https://itz-marcus.github.io/Temp-converter/B.png);
    background-size: cover;
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
body {
    text-align: center;
    display: flex;
    justify-content: center;
} 
.box{
    height: 25px;
}